<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>CodaScriptPlugIn</string>
	<key>CFBundleIconFile</key>
	<string>plug-in</string>
	<key>CFBundleIdentifier</key>
	<string>com.panic.CodaScriptPlugIn</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>CodaPlugInMinimumAPIVersion</key>
	<string>3</string>
	<key>NSPrincipalClass</key>
	<string>CodaScriptPlugIn</string>
	<key>commands</key>
	<array>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>$@o</string>
			<key>keyEquivalentConflict</key>
			<true/>
			<key>name</key>
			<string>Open in Terminal</string>
			<key>output</key>
			<string>discard</string>
			<key>preprocess</key>
			<string>none</string>
			<key>script</key>
			<string>termHere</string>
			<key>setInsertionPoint</key>
			<true/>
			<key>uuid</key>
			<string>0031FF09-A640-4E31-8148-F4F6DDADD04F</string>
		</dict>
		<dict>
			<key>fallbackInput</key>
			<string>none</string>
			<key>keyEquivalent</key>
			<string>$~@o</string>
			<key>keyEquivalentConflict</key>
			<false/>
			<key>name</key>
			<string>Open in GitX</string>
			<key>script</key>
			<string>gitXHere</string>
			<key>uuid</key>
			<string>8B9F22CB-900F-4416-9B44-069E29170113</string>
		</dict>
	</array>
</dict>
</plist>
